<?= $this->doctype() ?>
<html lang="en">
<head>
    <meta charset="utf-8">
<?php
echo $this->headTitle('Minimalistic Frontend for Advisor management');

echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0');
?>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js "></script>
</head>
<body>
    <div class="container">
        <?= $this->content ?>
    </div>
<script type="text/javascript">
//<!--

$(document).ready(function() {
    $('#example').DataTable( {
    	//"processing": true,
    	//"serverSide": true,
        "ajax": {
            "url": '/advisor',
            "dataSrc": function(json) {
				return json._embedded.advisor
            },
            "dataType": 'json',
            "type": "GET",
            "beforeSend": function(xhr){
                xhr.setRequestHeader("Authorization", "Basic " + btoa('user' + ":" + '4hsnf1zgmxrBDEGtdK63'));
            }
        },
        columns: [
            { data: "name" },
            { data: "description" },
            { data: "availability" },
            { data: "price_per_minute" },
            { data: "languages" },
            {
                "data": "profile_image",
                "render": function(data, type, row) {
                    return '<img src="'+data+'" />';
                }
            },
            {
                data: 'id',
                render: function(data, type, row, meta) {
                    return '<a href="#" onclick="deleteAdvisor(\'' + data + '\')" class="btn btn-danger">Delete</a>';
                }
            },
        ]
    } );
} );

function addAdvisor() {
	$('#advisor-form').toggle();
	$('#addNewButton').toggle();
}

function deleteAdvisor(id) {
	$.ajax({
        url: '/advisor/' + id,
        type: 'DELETE',
        "beforeSend": function(xhr){
    		xhr.setRequestHeader("Authorization", "Basic " + btoa('user' + ":" + '4hsnf1zgmxrBDEGtdK63'));
        },
        success: function(result) {
            location.reload();
        }
	});
}

function encodeImgtoBase64(element) {
    var img = element.files[0];
    var reader = new FileReader();
    
    reader.onloadend = function() {
    	$("#profile_image").attr("value",reader.result);
    }
    
    reader.readAsDataURL(img);
}

$("#advisorForm").submit(function( event ) {
	var formData = objectifyForm(this);
	delete formData['profileimage'];
	delete formData[""];
	
    $.ajax({
        type: 'POST',
        'contentType': 'application/json',
        beforeSend: function (xhr) {
        	xhr.setRequestHeader ("Authorization", "Basic " + btoa('user' + ":" + '4hsnf1zgmxrBDEGtdK63'));
        },
        url: '/advisor',
        dataType: 'json',
        data: JSON.stringify(formData),
        success: function(response) {
        	location.reload();
        },
        error: function(e) {
        	console.log('error', e);
        }
    });
	event.preventDefault();
});

function objectifyForm(formArray) {
    //serialize data function
    var returnArray = {};
    for (var i = 0; i < formArray.length; i++){
        returnArray[formArray[i]['name']] = formArray[i]['value'];
    }
    return returnArray;
}

//-->
</script>
</body>
</html>
