<div class="row">
    <div class="col-md-12">
    	<br>
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
            	<h3 class="card-title">Advisors</h3>
            </div>
            <div class="card-body">
                <table id="example" class="table table-striped table-hover display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Availability</th>
                            <th>Price per minute</th>
                            <th>Languages</th>
                            <th>Profile Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
                <div id="advisor-form" style="display:none;margin-top:40px">
                	<form action="/advisor" id="advisorForm" method="post">
                		<div class="row">
    						<div class="col-sm-3">
    							<div class="form-group">
    								<label for="Name" class="control-label">Name</label>
    							</div>
    						</div>
    						<div class="col-sm-3">
    							<div class="form-group">
    								<input type="text" value="" id="name" class="form-control" name="name" placeholder="">
    							</div>
    						</div>
    					</div>
                		<div class="row">
    						<div class="col-sm-3">
    							<div class="form-group">
    								<label for="description" class="control-label">Description</label>
    							</div>
    						</div>
    						<div class="col-sm-3">
    							<div class="form-group">
    								<input type="text" value="" id="description" class="form-control" name="description" placeholder="">
    							</div>
    						</div>
    					</div>
                		<div class="row">
    						<div class="col-sm-3">
    							<div class="form-group">
    								<label for="availability" class="control-label">Availability</label>
    							</div>
    						</div>
    						<div class="col-sm-3">
    							<div class="form-group">
    								<select name="availability" id="availability" class="form-control" required>
                                        <option selected value="0">Not available</option>
                                        <option value="1">Available</option>
                                	</select>
    							</div>
    						</div>
    					</div>
                		<div class="row">
    						<div class="col-sm-3">
    							<div class="form-group">
    								<label for="price_per_minute" class="control-label">Price per minute</label>
    							</div>
    						</div>
    						<div class="col-sm-3">
    							<div class="form-group">
    								<input type="text" value="" id="price_per_minute" class="form-control" name="price_per_minute" placeholder="">
    							</div>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-3">
    							<div class="form-group">
    								<label for="languages" class="control-label">Languages</label>
    							</div>
    						</div>
    						<div class="col-sm-3">
    							<div class="form-group">
    								<select name="languages" multiple class="form-control" id="languages" required>
                                        <option selected value="DE">German</option>
                                        <option value="EN">English</option>
                                        <option value="FR">French</option>
                                	</select>
    							</div>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-3">
    							<div class="form-group">
    								<label for="profileimage" class="control-label">Profile Image</label>
    							</div>
    						</div>
    						<div class="col-sm-3">
    							<div class="form-group">
    								<input type="file" name="profileimage" id="profileimage" onchange="encodeImgtoBase64(this)">
    								<input type="hidden" name="profile_image" id="profile_image">
    							</div>
    						</div>
    					</div>
    					<div class="row">
    					    <div class="col-sm-3">
    							<div class="form-group">
    								<button type="submit" class="btn btn-primary">Submit</button>
    							</div>
    						</div>
    					</div>
					</form>
                </div>
            </div>
            <div class="card-footer">
            	<a href="#" onclick="addAdvisor()" id="addNewButton" class="btn btn-primary">Add new</a>
            </div>
		</div>
	</div>
</div>